*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./img/img.png);
    background-size: cover; 
}

.head{
    font-family: cursive;
    font-weight: bolder;
    font-size: 25px;
    color: white;

}

#display{
    border:  2px solid firebrick;
    background-color: white;
    height: 40px;
    width: 249px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.calculator{
    border: 2px solid red;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    width: 290px;
    padding: 20px;
    align-items: center;
    height:  400px;
}



#buttons{
    background-color: pink;
    height: 250px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
}




.operator{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px; 
}




.number{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.equal{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.clear{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.decimal{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}


.space{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
